@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Design System Theming */
  html {
    --color-default: 236 228 236;
    --color-primary: 112 64 255;
    --color-donkey: 42 42 92;
  }

  html.dark {
    --color-default: 15 23 41;
    --color-primary: 112 64 255;
    --color-donkey: 112 112 162;
  }

  .prose {
    @apply prose-a:underline-offset-4 prose-code:rounded prose-code:border prose-code:border-zinc-200 prose-code:bg-zinc-100 prose-code:px-0.5 prose-code:py-[0.5px]
    
    prose-code:before:!content-none prose-code:after:!content-none 

   dark:prose-code:border-zinc-700 dark:prose-code:bg-slate-800;
  }

  .prose :where(pre code):not(:where([class~="not-prose"] *)) {
    @apply !bg-transparent;
  }

  /* Rehype autolink */
  .prose .anchor {
    @apply ml-2 text-zinc-300 no-underline hover:text-blue-600 dark:!text-zinc-600 dark:hover:!text-blue-400;
  }
}
