---
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="404: page not found" description="">
  <div class="flex min-h-full flex-col">
    <div
      class="mx-auto flex w-full max-w-screen-md flex-1 flex-col justify-center"
    >
      <h1 class="mb-4 text-6xl font-bold lg:mb-6 lg:text-8xl">
        Page not found
      </h1>
      <p class="mb-4 text-3xl lg:mb-6 lg:text-4xl">
        Sorry <span role="img" aria-label="Pensive emoji">😔</span> I couldn't find
        what you were looking for.
      </p>
    </div>
    <div class="mx-auto w-full max-w-screen-md pb-[15vh] pt-10">
      <a
        href="/"
        class="mb-4 inline-flex flex-wrap items-center text-3xl text-[#0071e3] after:block after:h-1 after:w-full after:scale-0 after:bg-blue-600 after:transition-transform after:duration-300 hover:after:scale-100 dark:text-blue-400 dark:after:bg-blue-400 lg:mb-6 lg:text-4xl"
      >
        <Icon name="akar-icons:arrow-up-left" class="h-9 w-9" />
        Go to the homepage
      </a>
    </div>
  </div>
</Layout>
