---
import Layout from "@layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import meSmilePhoto from "@assets/me-smile-crop.jpeg";
---

<Layout title="About me | Robert Uridge" description="">
  <div class="mx-[calc(50%-50vw)] gap-16 sm:flex">
    <Image
      alt=""
      src={meSmilePhoto}
      width={1000}
      height={1332}
      format="webp"
      class="basis-2/5 overflow-hidden object-contain shadow-sm shadow-neutral-200/50 dark:shadow-md dark:shadow-black/25 sm:rounded-r-xl"
    />
    <div
      class="prose prose-slate max-w-prose basis-3/5 pr-4 text-lg dark:prose-invert max-lg:prose-lg lg:prose-2xl max-sm:pl-4 md:pr-6"
    >
      <h1>Hello there.</h1>
      <p>I'm Rob, a front-end web and app developer from England</p>
      <p>
        I've been building the web for the last 12 years, working with clients
        across various countries and industries.
      </p>
    </div>
  </div>
</Layout>
