---
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Layout from "@layouts/Layout.astro";
import Link from "@ui/Link.astro";
import Text from "@ui/Text.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
// const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
//   (a, b) =>
//     new Date(b.frontmatter.pubDate).valueOf() -
//     new Date(a.frontmatter.pubDate).valueOf()
// );
const allPosts = await getCollection("blog");
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Text as="h1" size="h2">Blog</Text>
  <Text as="h2" size="h3">
    A collection of my writing, useful tips, and code snippets.
  </Text>
  <br />
  <section>
    <ul>
      {
        allPosts.map((post) => (
          <li class="flex">
            <time
              datetime={post.data.pubDate.toDateString()}
              class="basis-32 italic text-yellow-900"
            >
              {new Date(post.data.pubDate).toLocaleDateString("en-gb", {
                year: "numeric",
                month: "short",
                day: "numeric",
              })}
            </time>
            <Link href={"/blog/" + post.slug} class="visited:text-purple-700">
              {post.data.title}
            </Link>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
