---
import { Picture } from "@astrojs/image/components";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import headImage from "../images/headshot.jpg";
import ThemeToggle from "../components/ThemeToggle.astro";
---

<Layout title="Robert Uridge">
  <main class="flex flex-col gap-4">
    <div class="flex items-start gap-4">
      <div>
        <h1 class="text-5xl font-extrabold text-slate-700 dark:text-slate-50">
          <span
            class="bg-gradient-to-r from-violet-600 to-fuchsia-500 bg-clip-text text-transparent"
            >Robert</span
          >
          Uridge
        </h1>
        <p class="text-lg text-gray-700 dark:text-slate-50">
          Software Engineer / Artist / Developer / Designer / Craftsman
        </p>
      </div>
      <Picture
        src={headImage}
        alt="me"
        width={500}
        widths={[200, 400, 800]}
        sizes="(max-width: 800px) 100vw, 800px"
        aspectRatio="1:1"
        position="top"
        format="avif"
        loading="eager"
        class="mt-2 w-60 max-w-fit overflow-hidden rounded-full border-2 border-white shadow-md"
      />
    </div>

    <ul class="link-card-grid">
      <Card
        href="/work"
        title="Work"
        body="My projects/portfolio of work, past and present."
      />
      <Card
        href="/posts"
        title="Posts"
        body="A collection of writings, useful tips, and code snippets."
      />
      <Card
        href="/uses"
        title="Uses"
        body="A curated list of the tech I use."
      />
      <Card
        href="https://github.com/ruridge/uridge.com/"
        title="View Source"
        body="Check out my source code."
      />
    </ul>
    <div class="flex items-start justify-end">
      <ThemeToggle />
    </div>
  </main>
</Layout>

<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
