---
import { Image } from "@astrojs/image/components";
import Text from "@components/ui/Text.astro";
import Layout from "@layouts/Layout.astro";

const allProjects = await Astro.glob("./projects/*.md");
---

<Layout title="Work | Robert Uridge" description="">
  <Text as="h1" size="h2">My Projects</Text>
  <br />
  <div class="grid grid-cols-[repeat(auto-fit,_minmax(24ch,_1fr))] gap-4">
    {
      allProjects.map((work) => (
        <div class="">
          <a href={work.url}>
            <Image
              src={work.frontmatter.image.url}
              alt={work.frontmatter.image.alt}
              class="rounded-lg shadow"
              width={390}
              aspectRatio={1.5}
            />
            <Text as="span">{work.frontmatter.title}</Text>
          </a>
        </div>
      ))
    }
  </div>
</Layout>
