---
import { Icon } from "astro-icon";

export interface Props {
  title: string;
  body: string;
  href: string;
  external?: boolean;
}

const { href, title, body, external = false } = Astro.props;
---

<li
  class="flex rounded-lg bg-[length:400%] bg-right p-0.5 shadow-md transition-[background-position] duration-600 ease-out-quint focus-within:bg-left hover:bg-left"
  style={{ backgroundImage: "var(--accent-gradient)" }}
>
  <a
    href={href}
    class="w-full rounded-md bg-white py-4 px-5 text-neutral-900 opacity-80 ease-out-quint hover:text-purple-600 hover:transition-[color] hover:duration-600 dark:bg-slate-800 dark:text-white"
  >
    <h2 class="text-xl">
      {title}
      {
        external ? (
          <Icon class="inline h-5 w-5" name="ci:external-link" />
        ) : (
          <span>&rarr;</span>
        )
      }
    </h2>
    <p class="mt-2 text-gray-600 dark:text-gray-300">
      {body}
    </p>
  </a>
</li>
