---
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon";

export interface Props extends HTMLAttributes<"a"> {
  iconBefore?: string;
}

const { href, iconBefore } = Astro.props;
const { pathname } = Astro.url;

const isActive =
  String(href) === "/" ? pathname === "/" : pathname.startsWith(String(href));

const activeClasses = isActive
  ? "scale-x-[.37] bg-blue-400 md:scale-x-100"
  : "scale-x-0 bg-gray-500 md:bg-neutral-150 dark:md:bg-gray-800";
---

<a href={href} class="group relative flex max-md:px-[15%]">
  <span class="flex items-center gap-3 md:gap-1">
    {
      iconBefore && (
        <Icon
          name={iconBefore}
          class="h-5 max-md:-ml-8 max-md:text-gray-300 md:h-4"
        />
      )
    }
    <span>
      <slot />
    </span>
  </span>
  <span
    class={`absolute -bottom-2 h-2.5 w-full origin-left transition-none duration-300 group-hover:scale-x-[.37] group-hover:transition-transform max-md:left-[-15%] md:bottom-0 md:h-1.5 md:group-hover:scale-100 ${activeClasses}`}
  ></span>
</a>
