---
import { Image } from "@astrojs/image/components";
import HeaderLink from "./HeaderLink.astro";
import heroImage from "../assets/profile.jpg";
import { ThemeToggle } from "./ThemeToggle";
---

<header class="my-4 flex justify-between sm:my-12">
  <a class="group flex items-center gap-2" href="/" rel="home">
    <Image
      src={heroImage}
      alt=""
      width={48 * 2}
      height={48 * 2}
      class="h-12 w-12 rounded-full"
      loading={"eager"}
    />
    <span
      class="bg-gradient-to-r from-violet-500 to-fuchsia-500 bg-clip-text font-semibold transition-colors duration-200 group-hover:text-transparent dark:from-violet-400 dark:to-fuchsia-400"
      >ROBERT <span class="-ml-1 font-light">URIDGE</span></span
    >
  </a>
  <nav id="nav-menu" class="z-10 flex">
    <button
      id="nav-menu-toggle"
      aria-label="Toggle menu"
      aria-expanded="false"
      aria-controls="nav-menu"
      class="group peer z-10 flex h-12 w-12 touch-manipulation items-center justify-center rounded-full bg-black/5 dark:bg-white/5 md:hidden"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-8 w-8 text-gray-700 group-aria-expanded:text-gray-300 dark:text-gray-300"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
          class="translate-x-0 transition-transform group-aria-expanded:translate-x-full"
        ></path>
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
          class="absolute -translate-x-full transition-transform group-aria-expanded:translate-x-0"
        ></path>
      </svg>
    </button>
    <div
      class="inset-0 hidden flex-col justify-center peer-aria-expanded:flex max-md:absolute max-md:bg-black md:flex"
    >
      <div
        id="nav-menu-content"
        class="flex max-h-96 flex-1 flex-col justify-around font-serif text-4xl font-bold tracking-wide text-slate-50 opacity-0 transition duration-500 max-md:translate-y-4 md:flex-row md:gap-8 md:font-sans md:text-base md:font-normal md:tracking-normal md:text-inherit md:opacity-100"
      >
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/projects">Projects</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink
          href="https://github.com/ruridge/uridge.com"
          target="_blank"
          iconBefore="akar-icons:github"
        >
          Source
        </HeaderLink>
      </div>
      <div class="absolute bottom-0 md:hidden">
        <!-- <ThemeToggle client:media="not all and (min-width: 768px)" /> -->
        <ThemeToggle client:load />
      </div>
    </div>
  </nav>

  <script>
    import { createFocusTrap } from "focus-trap";

    const navMenu = document.getElementById("nav-menu");
    const navMenuToggle = document.getElementById("nav-menu-toggle");
    const navMenuContent = document.getElementById("nav-menu-content");

    if (!navMenu || !navMenuToggle || !navMenuContent) {
      throw new Error("Missing nav menu elements");
    }

    const trap = createFocusTrap(navMenu, {
      onActivate: () => {
        navMenuToggle.setAttribute("aria-expanded", "true");
        document.body.classList.add("overflow-hidden");
        window.setTimeout(() => {
          navMenuContent.classList.remove("max-md:translate-y-4");
          navMenuContent.classList.remove("opacity-0");
        }, 50);
      },
      onDeactivate: () => {
        navMenuToggle.setAttribute("aria-expanded", "false");
        document.body.classList.remove("overflow-hidden");
        navMenuContent.classList.add("max-md:translate-y-4");
        navMenuContent.classList.add("opacity-0");
      },
    });

    navMenuToggle.addEventListener("click", () => {
      trap.active ? trap.deactivate() : trap.activate();
    });
  </script>
</header>
