---
import { Icon } from "astro-icon";
import Link from "./Link.astro";

export interface Props {
  title: string;
  body: string;
  href: string;
  external?: boolean;
}

const { href, title, body, external = false } = Astro.props;
---

<li
  class="flex rounded-lg bg-[length:400%] bg-right p-0.5 shadow-md transition-[background-position] duration-600 ease-out-quint focus-within:bg-left hover:bg-left"
  style={{ backgroundImage: "var(--accent-gradient)" }}
>
  <Link href={href}>
    <h2 class="text-xl">
      {title}
      {
        external ? (
          <Icon class="inline h-5 w-5" name="ci:external-link" />
        ) : (
          <span>&rarr;</span>
        )
      }
    </h2>
    <p class="mt-2 text-gray-600 dark:text-gray-300">
      {body}
    </p>
  </Link>
</li>
